mixin thumbnail-classic(obj)
  .thumbnail-classic
    a(href=obj.link ? obj.link : 'single-service.html'): +jpg(obj.img)
    .caption
      h5: a(href=obj.link ? obj.link : 'single-service.html').thumbnail-classic-title=obj.title
      p=obj.text
