section.pre-footer-corporate.bg-image-7.bg-overlay-darkest
  .container
    .row.justify-content-sm-center.justify-content-lg-start.row-30.row-md-60
      .col-sm-10.col-md-6.col-lg-10.col-xl-3
        a.brand(href='index.html')
          +png(logoWhite)(srcset=logoWhiteRetina)
        p theFutre is HTML template that fits for both developers and beginners. It comes loaded with an assortment of tools and features that make customization process much easier. A pack of child themes, specially designed for various business niches, allows users to create a fully functional site for any specific business quickly and worry-free.

      .col-sm-10.col-md-6.col-lg-3.col-xl-3
        h6 Navigation
        ul.list-xxs.list-primary
          li: a(href='#') What We Offer 
          li: a(href='#') Our Team
          li: a(href='#') Our Portfolio
          li: a(href='#') Latest Posts
          li: a(href='#') Clients

      .col-sm-10.col-md-6.col-lg-4.col-xl-3
        h6 Contacts
        ul.list-xs
          li
            dl.list-terms-minimal
              dt Address
              dd 4578 Marmora Road, Glasgow, D04 89GR

          li
            dl.list-terms-minimal
              dt Phones
              dd: ul.list-semicolon
                li: a(href='tel:#') (800) 123-0045
                li: a(href='tel:#') (800) 123-0045

          li
            dl.list-terms-minimal
              dt E-mail
              dd: a.link-primary(href='mailto:#') info@demolink.org

          li
            dl.list-terms-minimal
              dt We are open
              dd Mn-Fr: 10 am-8 pm
              
      .col-sm-10.col-md-6.col-lg-5.col-xl-3
        .google-map-footer
          // RD Google Map
          .google-map-container( data-center='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]' )
            .google-map
            ul.google-map-markers
              li( data-location='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-description='9870 St Vincent Place, Glasgow', data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png' )

='\n'

footer.footer-corporate.bg-gray-darkest
  .container
    .footer-corporate__inner
      p.rights
        span!=brandName
        span &nbsp;&copy;&nbsp;
        span.copyright-year
        | . All Rights Reserved. 
        a(href='privacy-policy.html') Terms of Use and Privacy Policy

      ul.list-inline-xxs
        li: a.icon.icon-xxs.icon-gray-darker.fa.fa-facebook(href='#')
        li: a.icon.icon-xxs.icon-gray-darker.fa.fa-twitter(href='#')
        li: a.icon.icon-xxs.icon-gray-darker.fa.fa-google-plus(href='#')
        li: a.icon.icon-xxs.icon-gray-darker.fa.fa-vimeo(href='#')
        li: a.icon.icon-xxs.icon-gray-darker.fa.fa-youtube(href='#')
        li: a.icon.icon-xxs.icon-gray-darker.fa.fa-pinterest(href='#')
