// Call to Action
section.section-sm.bg-accent.text-center
  .container
    .row.row-50.align-items-center.justify-content-center.justify-content-xl-between
      .col-xl-9.text-xl-left
        h4.heading-decorated If you can envision it, then we can design it. #[br]Tell us more about your project!
      .col-xl-2.text-xl-right
        a.button.button-primary(href='contacts.html') Contact Us
='\n'
