include ../elements/_ui-blurb-mini

// Core features
section.bg-default.section-md.text-center.decor-text(data-content='Features')
	.container
		h4 Core Features
		.row.justify-content-center.row-30
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-48-40x40.png',
					caption: 'Swiper Slider'
				}).wow.fadeInLeft( data-wow-delay='0.4s' )
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-47-38x47.png',
					caption: 'Owl Carousel'
				}).wow.fadeInLeft( data-wow-delay='0.2s' )
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-50-48x36.png',
					caption: 'Parallax'
				}).wow.fadeInUp
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-49-41x41.png',
					caption: 'Video Background'
				}).wow.fadeInRight
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-57-34x34.png',
					caption: 'RD Event Calendar'
				}).wow.fadeInRight( data-wow-delay='0.2s' )
				
			.col-12.d-none.d-xl-flex

			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-58-34x32.png',
					caption: 'Mail Form'
				}).wow.fadeInLeft( data-wow-delay='0.4s' )
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-56-38x38.png',
					caption: 'ReCaptcha'
				}).wow.fadeInLeft( data-wow-delay='0.2s' )
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-59-35x35.png',
					caption: '3 Footer layouts'
				}).wow.fadeInUp
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-55-40x40.png',
					caption: 'Bootstrap'
				}).wow.fadeInRight
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-68-30x30.png',
					caption: 'Search Form'
				}).wow.fadeInRight( data-wow-delay='0.2s' )
				
			.col-12.d-none.d-xl-flex
				
			.col-6.col-sm-3.col-lg-2 
				+blurb-mini({
					src: 'images/landing/landing-63-34x34.png',
					caption: 'Gallery (Isotope) (Hover Effects)'
				}).wow.fadeInLeft( data-wow-delay='0.4s' )

			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-62-38x38.png',
					caption: 'Google Fonts'
				}).wow.fadeInLeft( data-wow-delay='0.2s' )
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-66-32x32.png',
					caption: 'Icon Fonts (FontAwesome, Linear Icons)'
				}).wow.fadeInUp
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-69-47x18.png',
					caption: 'Animate CSS, WOW Animation'
				}).wow.fadeInRight
			.col-6.col-sm-3.col-lg-2
				+blurb-mini({
					src: 'images/landing/landing-64-34x34.png',
					caption: 'UI Kit'
				}).wow.fadeInRight( data-wow-delay='0.2s' )
