include ../elements/_ui-parallax

+parallax({
	src: "images/parallax-2.jpg"
})
	.section-lg
		.container
			.row.justify-content-sm-center.justify-content-lg-end.row-30
				.col-sm-10.col-md-7.col-lg-6
					h3 Haven’t Found What You Like? Browse Our Other Demos
					p theFuture has everything to get you covered. Take a look at the child themes available for you. The list of themes covers most popular spheres of interest including Art & Photography, Business, Education and Design.
					a(href='index.html').button.button-primary.button-shadow View now!
				.col-sm-10.col-md-5.col-lg-6
					img(src="images/landing/home-14.png", alt="")
