// Our Features
section.section-md.bg-gray-lighter.text-center.decor-text(data-content='Services')
  .container
   .row.justify-content-lg-center 
     .col-lg-10.col-xl-8
       h4.heading-decorated Our Services
       p Our company offers flexible & reliable website templates as well as extensive customer support so you don’t have to worry about hiring an expensive web design company. We build all types of web templates and all of them can be used as a basis for your website.
   .row.row-50
     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-feather
         p.blurb__title Clean and Crispy Design
         p theFuture is crafted by top industry leaders with love, care and customer needs in mind. 

     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-menu3
         p.blurb__title Novi Builder
         p Use our Novi Builder to customize and update your website within seconds.

     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-bag2
         p.blurb__title Advanced UI Toolkit
         p theFuture comes with a powerful and flexible extended toolkit in addition to basic Bootstrap.

     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-rocket
         p.blurb__title Built For Speed
         p Our template was built for speed. Get the best results at GTmetrix and Google PageSpeed.

     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-equalizer
         p.blurb__title Flexible and Multipurpose
         p theFuture allows creating various websites for complex and scalable projects.

     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-file-search
         p.blurb__title SEO Friendly
         p Valid code and performance optimized framework make SEO easy and hassle free.
