//- Includes
include ../elements/_ui-parallax

// Demo Images Included for Free
section.context-dark.text-center
  +parallax({ src: "images/home-intro-15-1920x592.jpg" })
    .container
      .section-xl
        h4 Demo Images Included for Free
        p Save more than $35 on awesome premium images included with demo
