// counters
+parallax({
 src: 'images/parallax-1.jpg'
})
 .container.section-md
   .row.justify-content-md-center.row-50
     .col-md-6.col-lg-3
       // Box counter
       article.box-counter
         .box-counter__icon.linear-icon-coffee-cup
         .box-counter__wrap
           .counter 100
         p.box-counter__title Projects Annually

     .col-md-6.col-lg-3
       // Box counter
       article.box-counter
         .box-counter__icon.linear-icon-cube
         .box-counter__wrap
           .counter 45
         p.box-counter__title Awards

     .col-md-6.col-lg-3
       // Box counter
       article.box-counter
         .box-counter__icon.linear-icon-chevrons-expand-horizontal
         .box-counter__wrap
           .counter 98
           span %
         p.box-counter__title Positive Reviews

     .col-md-6.col-lg-3
       // Box counter
       article.box-counter
         .box-counter__icon.linear-icon-mustache-glasses
         .box-counter__wrap
           .counter 147
           span k
         p.box-counter__title Happy Customers
