// Dedicated 24/7 Support
section.section-xl.bg-image.bg-image-9
	.container
		.row
			.col-md-6.col-xl-5
				span.icon.icon-xxl.linear-icon-headset
				h3 Dedicated 24/7 Support
				p Our Support Service is always available 24 hours a day, 7 days a week to help you create your own business solution.
