section.section-md.text-center.bg-default
	.bg-decor.d-flex.align-items-center.justify-content-end( data-parallax-scroll='{"y": 130, "smoothness": 30}' )
		+png('bg-decor-4')
	.container
		h4.heading-decorated Our Clients
		.row.row-30
			.col-sm-6.col-md-3
				figure.box-icon-image: a(href='#')
					+png('company-1-126x102')
			.col-sm-6.col-md-3
				figure.box-icon-image: a(href='#')
					+png('company-2-134x102')
			.col-sm-6.col-md-3
				figure.box-icon-image: a(href='#')
					+png('company-3-132x102')
			.col-sm-6.col-md-3
				figure.box-icon-image: a(href='#')
					+png('company-4-126x102')

			.col-sm-6.col-md-3
				figure.box-icon-image: a(href='#')
					+png('company-5-138x102')
			.col-sm-6.col-md-3
				figure.box-icon-image: a(href='#')
					+png('company-6-143x102')
			.col-sm-6.col-md-3
				figure.box-icon-image: a(href='#')
					+png('company-7-109x102')
			.col-sm-6.col-md-3
				figure.box-icon-image: a(href='#')
					+png('company-8-109x102')
