// Call to Action
section.section.section-sm.context-dark.bg-gray-darker.section-cta
  .container
    .row.row-50.align-items-center.justify-content-center.justify-content-xl-between
      .col-xl-8.text-xl-left
        h4
          span.text-transform-none.heading-5 the
          span.text-transform-none FUTURE
          br
          span is a flexible solution with lots of advantages
        p Our template offers you  a variety of elements to be combined.
      .col-xl-2.text-xl-right
        a(target='_blank' href=getTemplateLink).button.button-primary Get it now
