// Our Features
section.section-lg.bg-default.text-center
 .container
   h4.heading-decorated Welcome
   .row.row-50
     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-feather
         p.blurb__title Clean and Crispy Design
         p Quaint is crafted by top industry leaders with love, care and customer needs in mind. 

     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-menu3
         p.blurb__title Novi Builder
         p Use our Novi Builder to customize and update your website within seconds.

     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-bag2
         p.blurb__title Advanced UI Toolkit
         p Quaint comes with a powerful and flexible extended toolkit in addition to basic Bootstrap.

     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-rocket
         p.blurb__title Built For Speed
         p Built for speed and performance. Get best results at GTmetrix and Google PageSpeed.

     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-equalizer
         p.blurb__title Flexible and Multipurpose
         p Quaint allows to create a various websites for complex and scalable project.

     .col-md-6.col-lg-4
       // Blurb circle
       article.blurb.blurb-circle.blurb-circle_centered
         .blurb-circle__icon: span.icon.linear-icon-file-search
         p.blurb__title SEO Friendly
         p Valid code and performance optimized framework make SEO easy and hassle free.
