section.section-lg.bg-default.text-center
	.bg-decor.d-flex.align-items-center.justify-content-end( data-parallax-scroll='{"y": 50,  "smoothness": 30}' )
		+png('bg-decor-11')
	.container
		h4.heading-decorated WHAT PEOPLE SAY
		.row.row-50
			.col-lg-5
				.row.row-30
					.col-sm-6
						figure.box-icon-image: a(href='#')
							+png('company-1-126x102')
					.col-sm-6
						figure.box-icon-image: a(href='#')
							+png('company-2-134x102')
					.col-sm-6
						figure.box-icon-image: a(href='#')
							+png('company-3-132x102')
					.col-sm-6
						figure.box-icon-image: a(href='#')
							+png('company-4-126x102')
					.col-sm-6
						figure.box-icon-image: a(href='#')
							+png('company-5-138x102')
					.col-sm-6
						figure.box-icon-image: a(href='#')
							+png('company-6-143x102')
			.col-lg-7.text-left
				// Owl Carousel
				.owl-carousel(data-items='1', data-stage-padding='15', data-loop='true', data-margin='30', data-nav='true', data-autoplay='true')
					.item
						// Quote classic
						.quote-classic
							.quote-classic__main
								+quote-mark('quote-classic__mark')
								.quote-classic__text: p.q Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!

							.quote-classic__caption
								.quote-classic__image.quote-classic__caption-aside
									+jpg('testimonials-1-120x120')
								.quote-classic__caption-main
									p.quote-classic__cite Jane Smith
									p.quote-classic__small Customer

					.item
						// Quote classic
						.quote-classic
							.quote-classic__main
								+quote-mark('quote-classic__mark')
								.quote-classic__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, theFuture is my number one choice!

							.quote-classic__caption
								.quote-classic__image.quote-classic__caption-aside
									+jpg('testimonials-2-120x120')
								.quote-classic__caption-main
									p.quote-classic__cite James Wilson
									p.quote-classic__small Customer

					.item
						// Quote classic
						.quote-classic
							.quote-classic__main
								+quote-mark('quote-classic__mark')
								.quote-classic__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!

							.quote-classic__caption
								.quote-classic__image.quote-classic__caption-aside
									+jpg('testimonials-3-120x120')
								.quote-classic__caption-main
									p.quote-classic__cite Samantha Lee
									p.quote-classic__small Customer
