+swiper({ 
	effect: 'cropping-circle',
	autoplay: 5500,
	speed: 1200, 
	loop: 'true', 
	direction: 'vertical', 
	mousewheel: 'false', 
	keyboard: 'true', 
	navigation: true })( data-frame-bg='images/slider-slide-10-1920x1080.jpg' ).context-dark.swiper-slider_fullheight
	.swiper-slide
		.swiper-slide-img( style='background-image: url(images/slider-slide-8.jpg);' )
		.swiper-slide-caption.text-left
			h1.text-transform-none( data-swiper-anime='{ "animation": "swiperContentFade", "duration": 600, "delay": 500 }' ) #bootstrap
	.swiper-slide
		.swiper-slide-img( style='background-image: url(images/slider-slide-6-1920x986.jpg);' )
		.swiper-slide-caption
			h1.text-transform-none( data-swiper-anime='{ "animation": "swiperContentFade", "duration": 600, "delay": 500 }' )
				span #
				span.heading-2.text-transform-none the
				span Future
	.swiper-slide
		.swiper-slide-img( style='background-image: url(images/slider-slide-9.jpg);' )
		.swiper-slide-caption.text-left
			h1.text-transform-none( data-swiper-anime='{ "animation": "swiperContentFade", "duration": 600, "delay": 500 }' ) #builtByGeeks
	
