section.bg-gray-lighter.object-wrap.decor-text(data-content='About')
	.bg-decor.d-flex.align-items-center.justify-content-end( data-parallax-scroll='{"y": 50,  "smoothness": 30}' )
		+png('bg-decor-4')
	.section-lg
		.container
			.row.justify-content-end
				.col-lg-6
					h4.heading-decorated About us
					p We are a team of professional, energetic individuals with talented designers and experienced managers available to guide our clients through the flawless and timely execution of any web design project. Since day one, we have been delivering creative and unique websites to our clients worldwide.
					.row.row-30
						.col-xl-6
							// Blurb minimal
							article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
								.unit-left
									.blurb-minimal__icon: span.icon.linear-icon-menu3
								.unit-body
									p.blurb__title.heading-6: a(href=singleService) Bootstrap Framework
									p theFuture is based on Bootstrap Framework, which makes it a nice template for any purpose.

						.col-xl-6
							// Blurb minimal
							article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
								.unit-left
									.blurb-minimal__icon: span.icon.linear-icon-users2
								.unit-body
									p.blurb__title.heading-6: a(href=singleService) Qualified team
									p theFuture is crafted by top industry leaders with love, care and customer needs in mind.

	.object-wrap__body.object-wrap__body-sizing-1.object-wrap__body-md-left.bg-image(style='background-image: url(images/bg-image-1.jpg)')
