include ../elements/_ui-progress-bar-linear

section.object-wrap.decor-text(data-content='About')
	.bg-decor.d-flex.align-items-center.justify-content-center( data-parallax-scroll='{"y": 70, "x": 50, "smoothness": 30}' )
		+png('bg-decor-10')
	.section-lg
		.container
			.row
				.col-lg-6
					h4.heading-decorated About us
					p theFuture boasts clean and crispy design, bulletproof layout consistency and intuitive navigation. The template was created by top industry leaders in web design and user experience. Improve your audience engagement and loyalty with simple and user friendly tools offered by our template.
					.row.row-30
						.col-xl-6
							// Blurb minimal
							article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
								.unit-left
									.blurb-minimal__icon: span.icon.linear-icon-menu3
								.unit-body
									p.blurb__title.heading-6: a(href=singleService) Award-winning designs
									p We have received numerous awards for our designs, concepts, and ideas.

						.col-xl-6
							// Blurb minimal
							article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
								.unit-left
									.blurb-minimal__icon: span.icon.linear-icon-users2
								.unit-body
									p.blurb__title.heading-6: a(href=singleService) Expert team
									p We are a team of dedicated web design and development professionals.

					.row.justify-content-md-center
						.col-md-12
							+progress-bar-linear({
								title: "Innovative Technologies",
								progressStyle: "progress-linear-modern",
								valueTo: "49"
							})

							+progress-bar-linear({
								title: "Flexible and Multipurpose",
								progressStyle: "progress-linear-modern",
								valueTo: "29"
							})

							+progress-bar-linear({
								title: "Made for People",
								progressStyle: "progress-linear-modern",
								valueTo: "86"
							})

	.object-wrap__body.object-wrap__body-sizing-1.object-wrap__body-md-right.bg-image(style='background-image: url(images/bg-image-1.jpg)')
