section.rd-parallax.text-center
	+parallax({
		"attrType": "media",
		"src": "images/parallax-3.jpg",
		"htmlSpeed": "0.1"
	})
		.section-lg.text-center
			.container
				.row.justify-content-sm-center.row-60
					.col-md-4.col-xl-3
						// Circle Progress Bar
						.progress-bar-circle(data-value="0.45", data-gradient="#80deea, #1F2845", data-empty-fill="#fff", data-size="141", data-thickness="5")
							span
						.progress-bar-circle-title New Services
					.col-md-4.col-xl-3
						// Circle Progress Bar
						.progress-bar-circle(data-value="0.60", data-gradient="#80deea, #1F2845", data-empty-fill="#fff", data-size="141", data-thickness="5")
							span
						.progress-bar-circle-title Responsive templates
					.col-md-4.col-xl-3
						// Circle Progress Bar
						.progress-bar-circle(data-value="0.80", data-gradient="#80deea, #1F2845", data-empty-fill="#fff", data-size="141", data-thickness="5")
							span
						.progress-bar-circle-title Satisfied customers
